@import '../../styles/_variables.scss';

.detail-note {
	min-height: 45px;
	padding: 10px 15px;
	max-height: $content-max-height;
	overflow: hidden;
	overflow-y: scroll;
	@include default_scrollbar;
}

.summary-note {
	overflow: hidden;
}
