@import '../../styles/_variables.scss';

.read-checklist-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	.stop-propagation {
		// align-self: flex-start;
		margin-top: 3px;
	}
}
