@import '../../styles/_variables.scss';

.summary-note {
	.summary-note-ctrl-bar {
		height: 50px;
		display: flex;
		justify-content: flex-end;

		.summary-note-delete-btn,
		.now-select-off-btn {
			display: none;
		}

		.now-select-on-btn {
			@include rm_btn_style;
			position: absolute;
			right: -25px;
			top: -15px;
			display: block;
			cursor: pointer;
			z-index: 3;
		}

		.now-select-on-outline {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			@include default_border_radius;
			border: 3px solid $summary-note-check-color;
			width: $summary-note-width + 2px;
			height: $summary-note-height + 2px;
			z-index: 2;
		}
	}

	&:hover {
		.summary-note-ctrl-bar {
			.summary-note-delete-btn {
				@include rm_btn_style;
				display: block;
				cursor: pointer;
				z-index: 3;
				margin-right: 10px;
				margin-top: 10px;
			}

			.now-select-off-btn {
				@include rm_btn_style;
				position: absolute;
				right: -25px;
				top: -15px;
				display: block;
				cursor: pointer;
			}
		}
	}
}
