@import '../../styles/_variables.scss';

.container {
	height: 280px;
	overflow-x: hidden;
	@include default_scrollbar;

	.title-box {
		padding: 0 15px;

		.title {
			margin-top: 30px;
			margin-bottom: 20px;
			font-size: 1.2rem;
			font-weight: 400;
			color: $black-text-color;
			@include newline;
			width: $summary-block-width;
		}
	}
}
