@import '../../styles/_variables.scss';

.summary_note {
	width: $summary-note-width;
	height: $summary-note-height;
	background-color: $summary-note-ctnr-color;
	border: solid 1px $summary-note-ctnr-border-color;
	@include default_border_radius;
	display: flex;
	flex-direction: column;
	padding: 0 0 0 20px;
	position: relative;
	z-index: 1;
	user-select: none;

	.summary_area {
		flex-grow: 1;
		overflow: scroll;
		overflow-x: hidden;
		&::-webkit-scrollbar {
			width: $summary-note-scrollbar-width;
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $scrollbar-thumb-color;
		}

		.summary_title {
			margin-top: 30px;
			font-size: 1.2rem;
			font-weight: 300;
			color: $black-text-color;
			@include newline;
			width: $summary-block-width;
		}
	}

	.ctrl_area {
		height: 70px;
		display: flex;
		justify-content: flex-end;

		.del_summary_note_btn,
		.select_summary_note_on_btn {
			display: none;
		}

		/* 
		OFF-Btn : from ON to OFF (Not Off State)
		*/
		.select_summary_note_off_btn {
			@include rm_btn_style;
			position: absolute;
			right: -25px;
			top: -15px;
			display: block;
			cursor: pointer;
			z-index: 3;
		}

		.select_outline {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			@include default_border_radius;
			border: 3px solid $summary-note-check-color;
			width: $summary-note-width + 2px;
			height: $summary-note-height + 2px;
			z-index: 2;
		}
	}

	&:hover {
		.ctrl_area {
			.del_summary_note_btn {
				@include rm_btn_style;
				display: block;
				cursor: pointer;
				z-index: 3;
				margin-right: 10px;
				margin-top: 10px;
			}
			/* 
			ON-Btn : from OFF to ON (Not ON State)
			*/
			.select_summary_note_on_btn {
				@include rm_btn_style;
				position: absolute;
				right: -25px;
				top: -15px;
				display: block;
				cursor: pointer;
			}
		}
	}
}
