@import '../../styles/_variables.scss';

.selected-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.align-left {
		display: flex;
		align-items: center;

		.cancel-btn {
			@include rm_btn_style;
			margin: 7px 15px 0 20px;
		}

		.selected-note-count {
			color: $black-text-color;
			font-size: 1rem;
			font-weight: 400;
		}
	}

	.delete-btn {
		@include rm_btn_style;
		margin-right: 10px;
		margin-top: 5px;
	}
}
