// Input Value Defualt Color
$input-value-default-color: #414141;

// Split Color in a Note
$split-color: #f0f0f0;

// Button Colors
$black-btn-color: #2a394b;
$gray-btn-color: #767676;

// Text Color
$white-text-color: #ffffff;
$black-text-color: #414141;

// Header Colors
$header-color: #ffffff;
$header-logo-color: #f8613b;
$search-bg-color: #f7f7f7;
$search-color: #767676;
$header-ctrl-hover-color: #2a2a2a;

// Main Colors
$main-color: #f7f7f7;

// Create Note Colors
$create-note-ctnr-color: #ffffff;
$create-note-ctnr-border-color: #d6d6d6;

// Summary Note Colors
$summary-note-ctnr-color: #ffffff;
$summary-note-ctnr-border-color: #d6d6d6;

// Select Summary Note Check Color
$summary-note-check-color: #81c7e4;

// Detail Note Colors
$detail-note-color: #ffffff;
