$twinny-orange: #f8613b;

// Input Value Default Color
$input-value-default-color: #414141;
$input-value-gray-color: #767676;

// Split Color in a Note
$split-color: #f0f0f0;

// Button Colors
$black-btn-color: #2a394b;
$gray-btn-color: #767676;

// Text Color
$white-text-color: #ffffff;
$black-text-color: #414141;

// Scrollbar-thumb Color
$scrollbar-thumb-color: #c7c7c7;

// Header Colors
$header-color: #ffffff;
$header-logo-color: #f8613b;
$search-bg-color: #f7f7f7;
$search-color: #767676;
$header-ctrl-hover-color: #2a2a2a;

// Main Colors
$main-color: #f7f7f7;

// Create Note Colors
$create-note-container-color: #ffffff;
$create-note-container-border-color: #d6d6d6;

// Summary Note Colors
$summary-note-container-color: #ffffff;
$summary-note-container-border-color: #d6d6d6;

// Select Summary Note Check Color
$summary-note-check-color: #81c7e4;

// Detail Note Colors
$detail-note-color: #ffffff;
$create-block-color: #ffffff;

// Confirm Colors
$confirm-bgc: #ffffff;

// Block Colors
$hover-block-bgc: #f1f9fc;
$block-location-indicator-color: rgba(0, 122, 204, 0.8);
