// Remove Default Btn Style
@mixin rm_btn_style {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

@mixin rm_input_style {
	outline: none;
	border: none;
	background-color: transparent;
}

@mixin flex_align_center {
	display: flex;
	justify-items: center;
	align-items: center;
}

@mixin default_border_radius {
	border-radius: 3px;
}

@mixin absolute_center_wh {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin newline {
	white-space: pre-wrap;
	word-break: break-all;
}

@mixin modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(245, 245, 245, 0.6);
	z-index: 100;
	overflow-y: hidden;
}

@mixin default_scrollbar {
	&::-webkit-scrollbar {
		width: $summary-note-scrollbar-width;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $scrollbar-thumb-color;
	}
}
