@use 'sass:math';

// Header Size
$header-height: 45px;
$search_cntr_height: 30px;
$search_cntr_width: 380px;

// Main Size
$main-min-height: calc(100vh - $header-height);

// Create Note Sizes
$create-note-height: 100px;
$create-note-ctnr-height: 45px;
$create-note-ctnr-width: 550px;

// Create Note Form Margin Size
$create-note-form-margin: math.div(
	calc($create-note-height - $create-note-ctnr-height),
	2
);

// Summary Note Sizes
$summary-note-width: 260px;
$summary-note-height: 330px;

// Detail Note Sizes
$detail-note-width: $create-note-ctnr-width; // 550px
$detail-note-min-height: 150px;
