@use 'sass:math';

// Header Size
$header-height: 45px;
$search-container-height: 30px;
$search-container-width: 380px;
$header-min-width: 870px;
// Main Size
$main-height: 100vh;

// Create Note Sizes
$create-note-height: 100px;
$create-note-container-height: 50px;
$create-note-container-width: 552px;

// Create Note Form Margin Size
$create-note-form-margin: math.div(
	calc($create-note-height - $create-note-container-height),
	2
);

// Summary Note Sizes
$summary-note-width: 260px;
$summary-note-height: 330px;

// Detail Note Sizes
$detail-note-width: $create-note-container-width; // 550px
$detail-note-min-height: 150px;

// Scrollbar
$summary-note-scrollbar-width: 4px;

// Block Sizes
$summary-block-width: 213px;

// Content-Area (blocks)
$content-max-height: 460px;
