@import '../../styles/_variables.scss';

.summary-note {
	width: $summary-note-width;
	height: $summary-note-height;
	background-color: $summary-note-container-color;
	border: solid 1px $summary-note-container-border-color;
	@include default_border_radius;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	user-select: none;

	.summary-note-ctrl-bar {
		height: 50px;
		display: flex;
		justify-content: flex-end;

		.delete-btn,
		.select-btn {
			display: none;
		}

		.unselect-btn {
			@include rm_btn_style;
			position: absolute;
			right: -25px;
			top: -15px;
			display: block;
			cursor: pointer;
			z-index: 3;
		}

		.selected-outline {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			@include default_border_radius;
			border: 3px solid $summary-note-check-color;
			width: $summary-note-width + 2px;
			height: $summary-note-height + 2px;
			z-index: 2;
		}
	}

	&:hover {
		.summary-note-ctrl-bar {
			.delete-btn {
				@include rm_btn_style;
				display: block;
				cursor: pointer;
				z-index: 3;
				margin-right: 10px;
				margin-top: 10px;
			}

			.select-btn {
				@include rm_btn_style;
				position: absolute;
				right: -25px;
				top: -15px;
				display: block;
				cursor: pointer;
				z-index: 3;
			}
		}
	}
}
