@import '../../styles/_variables.scss';

.summary-note {
	width: $summary-note-width;
	height: $summary-note-height;
	background-color: $summary-note-container-color;
	border: solid 1px $summary-note-container-border-color;
	@include default_border_radius;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	user-select: none;
}
