@import '../../styles/_variables.scss';

.header-area {
	min-width: $header-min-width;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;

	background-color: $header-color;
	height: $header-height;
}
