@import '../../styles/_variables.scss';
.create_block {
	.block-ctrl-btns {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		button {
			display: none;
		}
	}

	&:hover {
		background-color: $hover-block-bgc;
		button {
			display: inline-block;
			@include rm_btn_style;
			color: $gray-btn-color;
			background-color: transparent;
		}
	}
}
