@import '../../styles/variables.scss';

.create-note-area {
	background-color: transparent;
	min-height: $create-note-height;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
}
