@import '../../styles/_variables.scss';

.drag-layer-ctrl-btns {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 22px;
	margin-right: 20px;
}

.drag-layer {
	width: 546px;
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
