@import '../../styles/_variables.scss';

.create_note_form {
	width: $create-note-ctnr-width;
	background-color: $create-note-ctnr-color;
	border: 1px solid $create-note-ctnr-border-color;
	border-radius: 3px;
	margin: $create-note-form-margin;

	.title {
		height: $create-note-ctnr-height;
		border-bottom: 1px solid $split-color;
		padding: 10px;

		.title_input {
			@include rm_input_style;
			height: 25px;
			width: 450px;
			font-size: 1.2rem;
			/* 
      font-weight 더 얇게 지정 불가 -> font setting 해야함
      */
			color: $input-value-default-color;
			&::placeholder {
				font-size: 1rem;
				font-weight: 700;
				color: black;
			}
		}
	}

	.content {
		height: $create-note-ctnr-height;
	}

	.ctrl_bar {
		height: $create-note-ctnr-height;
		padding: 7px 10px;
		border-top: 1px solid $split-color;
		display: flex;
		justify-content: space-between;

		.add_btns {
			@include flex_align_center;
		}

		.create_submit_btn {
			@include rm_btn_style;
			background-color: $black-btn-color;
			font-weight: 700;
			color: $white-text-color;
			font-size: 0.8rem;
			padding: 0 10px;
			margin-right: 10px;
			cursor: pointer;
		}
	}
}
