@import '../../styles/_variables.scss';

.update-note {
	@include absolute_center_wh;
	@include default_border_radius;
	background-color: $detail-note-color;
	width: $detail-note-width;
	min-height: $detail-note-min-height;
	display: flex;
	flex-direction: column;
	user-select: none;
	border: 1px solid $create-note-container-border-color;

	.title-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 15px;
		height: 50px;
		border-bottom: 1px solid $split-color;

		.title-input {
			@include rm_input_style;
			height: 25px;
			width: 450px;
			font-size: 1.1rem;
			font-weight: 400;

			/* 
			font-weight 더 얇게 지정 불가 -> font setting 해야함
			*/
			color: $input-value-default-color;
			&::placeholder {
				font-size: 1.1rem;
				font-weight: 500;
				color: $black-text-color;
			}
		}

		.close-btn {
			@include rm_btn_style;
		}
	}
}
