@import '../../styles/_variables.scss';

.ctrl_bar {
	height: $create-note-container-height;
	padding: 7px 10px;
	border-top: 1px solid $split-color;
	display: flex;
	justify-content: space-between;

	.add_btns {
		@include flex_align_center;
	}

	.update_submit_btn,
	.create_submit_btn {
		@include rm_btn_style;
		background-color: $black-btn-color;
		font-weight: 400;
		color: $white-text-color;
		font-size: 0.8rem;
		padding: 0 13px;
		margin-right: 10px;
	}
}
